label {
  display: block;
  margin-top: 10px;
}

.a,
a:hover,
a:visited,
a:active,
a:link {
  color: inherit;
  text-decoration: none;
}

.app {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  /* position: relative; */
}

.app-base {
  background-color: #1a1b1e;
}

.app-version {
  position: absolute;
  top: 98%;
  left: 50%;
  transform: translate(-50%,0);
  font-size: 11px;
  opacity: 0.1;
  pointer-events: none;
}

.blur-circle {
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: flex;
  filter: blur(5px);
  z-index: 0;
}

.canvas-btn {
  position: relative;
  border-radius: 50%;
  background-color: #25262b;
  align-self: center;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  border: 3px solid;
  width: 50px;
  height: 50px;
  /* color: #222327 */
}

.canvas-btn2 {
  position: relative;
  border-radius: 0.25rem;
  background-color: #25262b;
  align-self: center;
  justify-content: center;
  display: flex;
  align-items: center;
  /* width: 60px;
  height: 40px; */
  /* color: #222327 */
}

.canvas-btn-divider {
  background-color: #333333;
}

.canvas-btn-handle {
  position: relative;
  display: flex;
  align-self: center;
}

.canvas-btn-handle-icon {
  position: relative;
  font-size: 26px;
  color: #a6a7ab;
}

.canvas-btn-icon {
  width: 30px;
  height: 30px;
  color: #a6a7ab;
}

.canvas-btn-ttip {
  background-color: #2c2e33 !important;
  color: #c1c2c5 !important;
}

.canvas-btn-wrap {
  position: fixed;
  display: flex;
  width: auto;
  height: auto;
  border: 1px solid #333333;
  border-radius: 0.25rem;
  padding: 5px;
  background-color: #25262b;
  justify-content: left;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.container-bg {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-size: cover;
}

.ctxt-button {
  position: relative;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(2px 2px 2px #111);
}

.ctxt-label {
  font-family: monospace;
  font-size: 13px;
}

.ctxt-planet {
  position: absolute;
  border-radius: 50%;
}

.input {
  border: none;
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;

  display: flex;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
}

.header {
  position: fixed;
  width: 100vw;
  height: 65px;
}

.header-width {
  max-width: 100%;
}

.login-logo {
  display: flex;
  justify-content: right;
  margin-bottom: 16px;
  margin-left: 17%;
  width: 66%;
  height: auto;
  filter: drop-shadow(2px 2px 2px #111);
}

.logo-sm {
  position: "absolute";
  width: 36px;
  height: auto;
  filter: drop-shadow(1px 1px 0px #222);
}

.logo-sm-container {
  display: flex;
  justify-content: left;
  width: 25vw;
  height: auto;
  transform: translate(5px,0);
}

.main {
  width: 100vw;
  height: calc(100vh - 65px);
  position: fixed;
  top: 65px;
}

.node {
  position: absolute;
  padding: 4px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* filter: drop-shadow(1px 1px 1px #111); */
}

.workflow .node-input input[type=text] {
  outline: none;
  border-radius: 3px;
  border: 1px solid #333333;
  padding: 5px;
  background-color: #25262b;
  color: #c1c2c5;
  filter: drop-shadow(1px 1px 1px #111);
  height: 40px;
}

/* .node-input input[type=number] {
  outline: none;
  border-radius: 3px;
  border: 1px solid #333333;
  padding: 5px;
  background-color: #25262b;
  color: #c1c2c5;
  filter: drop-shadow(1px 1px 1px #111);
  -moz-appearance: textfield;
} */

.node-input input::webkit-outer-spin-button,
  input::webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.node-clickable {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.node-connector {
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.node-connector-rail {
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%) */
  pointer-events: none;
  border: 1px solid #333
}

.node-label {
  display: inline-block;
  max-width: none;
  white-space: nowrap;
  min-width: 85%;
  /* max-width: 90%;
  white-space: normal; */
  /* word-wrap: break-word; */
  justify-content: center;
  text-align: center;
  user-select: none;
  font-family: monospace;
}

.node-label-dots {
  vertical-align: bottom;
  text-align: left;
  font-family: serif;
}

.node-label-value {
  font-size: 85%;
  vertical-align: middle;
  /* border-radius: 3px; */
  /* padding: 0px 3px 0px 3px; */
}

.node-label-wrap {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  padding: 0px 5px 2px 5px;
  border-radius: 3px;
  /* width: 100%; */
  /* height: 100%; */
  transform: translate(-50%,-50%);
}

.node-label-none-wrap {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  transform: translate(-50%,-50%);
}

.node-warning {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.node-warning-label {
  position: absolute;
  display: flex;
  justify-content: right;
  align-items: center;
  width: 170px;
  height: 50px;
  user-select: none;
  border-radius: 3px;
  border: 1px solid #333333;
  padding: 10px;
  padding-top: 12px;
  background-color: #25262b;
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.1s ease-in-out;
  animation: fade-in-slide-up 0.1s forwards;
  color: #c1c2c5;
  filter: drop-shadow(1px 1px 1px #111);
}
@keyframes fade-in-slide-up {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.profile-btn-bg {
  position: absolute;
  width: 259px;
  height: 100px;
  background-color: #1a1b1e;
  z-index: 1;
}

.profile-btn-bg2 {
  position: absolute;
  width: 518px;
  height: 100px;
  background-color: #25262b;
  z-index: 1;
}

.profile-header-h3 {
  margin-bottom: 40px;
  margin-top: 50px;
  margin-left: 40px;
  width: 260px;
  flex-shrink: 0;
  z-index: 2;
  /* pointer-events: none; */
  text-align: left;
}

.profile-header-wrap {
  width: 520px;
  display: flex;
  flex-direction: row;
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.profile-paper-img {
  margin-right: 10px;
  position: relative;
  top: 72px;
}

.profile-paper-main {
  width: 520px;
  height: auto;
  position: relative;
  top: 72px;
  /* transform: translate(-50%, 0); */
}

.profile-pw-overlay {
  width: 520px;
  height: 100px;
  /* position: absolute; */
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  align-items: center;
  justify-content: center;
  display: flex;
}

.profile-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height:800px;
  width: auto;
}

.selection-rect {
  position: absolute;
  background-color: rgba(52, 54, 61, 0.5);
  border: 2px dashed rgb(25, 25, 25);
  border-radius: 0px;
  pointer-events: none;
}

.user-menu-container {
  width: 25vw;
  height: auto;
  display: flex;
  justify-content: right;
}

.workflow {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.workflow input[type=text] {
  outline: none;
  border-radius: 3px;
  border: 1px solid #333;
  padding: 5px;
  background-color: #373A40;
  color: #C1C2C5;
  width: 100%;
}

.workflow-history {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0%;
  overflow: hidden;
  background-color: #25262b;
}

.workflow-json {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0%;
  overflow: hidden;
  background-color: #25262b;
}

.workflow-json-btn-group {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  width: 450px;
  color: #a6a7ab;
  outline: none;
  border: none;
}

.workflow-json-textarea textarea {
  background-color: inherit;
  position: relative;
  color: #a6a7ab;
  outline: none;
  border: none;
  top: 50px;
}

.workflow-btn {
  position: absolute;
  width: 35px;
  height: 35px;
}

.workflow-btn-wrap {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

.workflow-table {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0%;
  overflow: hidden;
  background-color: #25262b;
}

.wrap-input {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.wrap-login {
  width: 400px;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, 0);
}

.wrap-navbar {
  float: left;
}
